/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 255, 0);
	text-shadow: 0 0 10px rgba(0, 255, 0, 0.8); 
    Font-family: Bodoni 72, serif;
}

/* Estilos de la sección de juegos */
.juegos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.juego {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

.juego img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;

}

.juego h2 {
    margin-top: 10px;
    text-align: center;
}

.juego h3 {
    margin-top: 10px;
    text-align: center;
}

.juego p {
    margin-top: 10px;
    text-align: center;
}

.juego a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(0, 255, 0);
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.juego a:hover {
    background-color: #47fff0;
}

/* Estilos de la barra inferior */
.barra-inferior {
    background-color: #111;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    color: rgb(0, 255, 0);
    text-decoration: none;    
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out; 
    /* Agregamos transición en el color de fondo */
}
.terraza {
    color: #ff00aa; /* Rojo */
    text-shadow: 0 0 19px #47fff0; /* Rojo más bajo */
    animation: blinkShadow 1s infinite; /* Animación que parpadea infinitamente */
}
@keyframes blinkShadow {
    0%, 100% {
      text-shadow: 9 9 10px #FF6347; /* Estado inicial y final del brillo */
    }
    50% {
      text-shadow: none; /* Estado intermedio sin sombra */
    }
}
nav a:hover {
    background-color: rgb(0, 221, 255);
 /* Agregamos un color de fondo al hacer hover */
}

nav a:active {
    background-color: rgba(255, 255, 255, 0.3); 
    /* Agregamos un color de fondo al hacer clic */
}

/*Diseño de Sistema refresh y Guardando progreso*/
.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 10001;    
    color: #000;
    font-weight: bold;           
}

.loading .loading-icon  {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);                
}

.lt{
	position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 255, 0);
	text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
    font-size: 25px;            
}

/*Color de Titulos de Terrazas*/
.atantlis{
	color: rgb(0, 255, 247);
    text-shadow: 0 0 10px rgba(0, 89, 255, 0.6);
}
.utopica{
	color: rgb(0, 208, 255);
	text-shadow: 0 0 10px rgba(0, 255, 179, 0.6);
}
.lost{
	color: rgb(0, 255, 42);
	text-shadow: 0 0 10px rgba(255, 213, 0, 0.6);
}
.fantasy{
	color: #f4e803;
    text-shadow: 0 0 10px rgba(244, 160, 3, 0.6);
}
.evil{
	color: #f45303;
    text-shadow: 0 0 10px rgba(244, 67, 3, 0.6);
}
.devastacion{
	color: #f4b4037e;
    text-shadow: 0 0 10px rgba(51, 244, 3, 0.246);
}
.oscuridad{
	color: #8e8e8e;
    text-shadow: 0 0 10px rgb(244, 208, 3);
}
.paladin{
	color: #8a8585;
    text-shadow: 0 0 10px rgb(244, 111, 3);
}
.dreams{
	color: #ffcc00;
    text-shadow: 0 0 10px rgb(95, 3, 244);
}
.future{
	color: #00ffd5;
    text-shadow: 0 0 10px rgb(95, 244, 3);
}
.fenix{
	color: #993523ce;
    text-shadow: 0 0 10px rgb(244, 99, 3);
}