<!-- Bottom Navigation Fixed -->
<nav class="bottom-nav" id="bottomNav">
    <a href="../../index.html" class="nav-link active" data-page="home">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
    </a>
    <a href="../page/terrazas/terrazas.html" class="nav-link" data-page="terrazas">
        <i class="fas fa-umbrella-beach"></i>
        <span>Terrazas</span>
    </a>
    <a href="../page/redes/redes.html" class="nav-link" data-page="contact">
        <i class="fas fa-comments"></i>
        <span>Contacto</span>
    </a>
</nav>